{%  extends 'accounts/index.html' %}
{% load static %}
{% block content %}

<br>
<div id="layoutSidenav_content">
	<main>

		<div class="container-fluid">
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body">


						<p>Are you sure you want to delete "{{item}}"?</p>

						<form action="{% url 'delete_order' item.id  %}" method="POST">

							{% csrf_token %}
							<a class="btn btn-info" href="{% url 'home' %}">Cancel</a>

							<input class="btn btn-danger" type="submit" name="Confirm">
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}
