{%  extends 'accounts/index.html' %}
{% load static %}
{% block content %}

<div id="layoutSidenav_content">
    <main>

        <div class="container-fluid">
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">

                        <form action="" method="POST">
                            {% csrf_token %}
                            {{formset.management_form}}
                            {% for form in formset %}
                            {{form}}
                            <hr>
                            {% endfor %}


                            <input type="submit" name="Submit">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}
