{%  extends 'accounts/index.html' %}

{% block content %}

<br>
<div id="layoutSidenav_content">
	<main>

		<div class="container-fluid">
			<br>

			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<h5>Products</h5>
					</div>
					<div class="card card-body">
						<table class="table">
							<tr>
								<th>Product</th>
								<th>Category</th>
								<th>Price</th>
							</tr>
							{% for i in products %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>

							{% endfor %}
						</table>
					</div>
				</div>

			</div>
		</div>
	</main>
</div>

{% endblock content %}
