<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4 text-center">
            <div class="card-body">Total Orders</div>
            <div class="card-footer text-center d-flex align-items-center justify-content-between">
                <h3 class="card-title">{{total_orders}}</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 text-center">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Orders Delivered</div>
            <div class="card-footer text-center d-flex align-items-center justify-content-between">
                <h3 class="card-title text-center">{{delivered}}</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 text-center">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Orders Pending</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h3 class="card-title">{{pending}}</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>
