{% extends 'accounts/index.html' %}

{% block content %}

<div id="layoutSidenav_content">
	<main>

		<div class="container-fluid">
			<h1 class="mt-4">Dashboard</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>

			<br>
			{% include 'accounts/status.html' %}

			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<table class="table table-sm">
							<tr>
								<th>Product</th>
								<th>Note</th>
								<th>Date Orderd</th>
								<th>Status</th>
								<th>Update</th>
								<th>Remove</th>
							</tr>

							{% for order in orders %}
							<tr>
								<td>{{order.product}}</td>
								<td>{{order.note}}</td>
								<td>{{order.date_created}}</td>
								<td>{{order.status}}</td>
								<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a>
								</td>
								<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a>
								</td>
							</tr>
							{% endfor %}

						</table>
					</div>
				</div>
			</div>
	</main>
</div>
{% endblock  %}
